.pageLevel{
    margin:200px 0 100px 10%;
    font-size: 24px;
}

a{
    text-decoration: none ;
    color: #222222;
    cursor: pointer;
}

.link{
    color: #6274BE;
}

.title1{
    margin: 300px 10% 200px ;
    display: flex;
    align-items: center;
}

.title1 h1{
    font-size: 96px;
    margin-bottom: 30px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 450;
}

.pageLevel{
    font-weight: normal;
}

.subTitle{
    font-weight:normal;
    font-size: 16px;
}

.circle{
    position: absolute;
    width: 545px;
    height: 545px;
    border-radius: 50%;
    z-index: -1;
    margin-left: -230px;
}

.redCircle{
    background-color: #D54640;
}

.blueCircle{
    background-color: #6274BE;
}

.faq-container{
    margin: 0 6% 50px 6%;
    border-top: #222222 solid 1px;
}

.faq-item{
    padding: 50px 50px 50px 50px;
    font-size: 20px;
    border-bottom: #222222 solid 1px;
}

.faq-default{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 17px solid #555555;
  border-bottom: 0;
  margin-left: 30px;
}

.rotate{
    transform: rotate(180deg);
}

.answer{
    display: none;
    margin-top: 6.94vw;
}

.contact{
    margin-left: 10%;
}

.contact p{
    font-size: 20px;
    margin-top: 30px;
}

.emailTitle{
    font-size: 30px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #222222;
    margin-top: 70px;
}

.spOnly{
    display: none;
}

.pcOnly{
    display: block;
}


@media(max-width:1024px){
    .spOnly{
        display: block;
    }

    .title1 h1{
    font-size: 28px;
    margin-bottom: 20px;
    }

    .pageLevel{
    margin:100px 0 5px 10%;
    font-size: 13px;
    }

    .subTitle{
        font-size: 13px;
    }
    

    .circle{
    position: absolute;
    width: 335px;
    height: 335px;
    border-radius: 50%;
    z-index: -1;
    margin-left: -65px;
    }
    .faq-item{
        padding: 20px 20px 20px 20px;
        font-size: 13px;
        border-bottom: #222222 solid 1px;
    }

    .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 11px solid #222222;
    border-top: 0;
    margin-left: 20px;
    }

    .title1{
    margin: 150px 10% 120px ;
    display: flex;
    align-items: center;
}

    .faq-container{
        margin: 0 6% 200px 6%;
        border-top: #222222 solid 1px;
    }

    .emailTitle{
    font-size: 20px;
    margin-top: 30px;
}
    .contact p{
        font-size: 13px;
        margin-top: 30px;
    }

    .pcOnly{
        display: none;
    }
    
}
