* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

/* ここからentrance */
.entrance {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: relative;

}
.top_main_image {
    max-width: 63vw;
    height: auto;
    right: 0;
    bottom: 2%;
    position: absolute;
}
.entrance_sentence {
    position: absolute;
    width: calc(100vw - 63vw);
    height: 50vh;
    bottom: 2%;
    display: flex;            /* もともとの設定 */
    flex-direction: column;   /* ←横並び → 縦並びに変更 */
    justify-content: space-evenly; /* もしくは space-between */
    align-items: center;      /* 横方向は中央寄せ */
    
}
.entrance_title {
    width: 33vw;
    /* font-size: 32px; */
    font-size: 2vw;
    font-weight: 450;

}
.entrance_subtitle {
    width: 33vw;
    /* font-size: 16px; */
    font-size: 1.2vw;

}
/* ここまでentrance */

/* ここからnews */
.news {
    width: 100vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
/* .news_contents {
    width: 88%;
    min-height: 43vh; 
  height: auto;      
    background-color: aquamarine;
    opacity: 0.5;
    position: absolute;
    right: 0 ;
    margin-top: 70px;
} */
.news_contents {
    position: absolute;
    width: 88%;
    height: 80%;
    /* background-color: aqua; */
    margin-left: 10vw;
    margin-top: 50px;
    overflow: hidden;
}
.title-block {
    font-size: 20px;
    width: 100px;
    position: absolute;
}
.news_box {
    width: 100%;
    height: 70%;
    /* background-color: blueviolet; */
    margin-top: 70px;
    z-index: 10;
    line-height: 3.5;
}
.news-flexbox {
    display: flex;
}
.news_date {
width: 50px;
font-size: 16px;
/* height: 25px; */
}
.news_sentence {
    width: 100%;
font-size: 16px;
z-index: 2;
/* height: 25px; */
}
.news_circle {
    position: absolute;
    width: 1100px;
    height: 45vh;
    border-radius: 9999px;
    background-color: #f5f5f5;
    margin-left: 35%;
    left: 150px;
    margin-top: 50px;
    z-index: 1;
}

/* ここまでnews */

/* ここからsteps */
.steps {
    width: 100vw;
    height: 65vh;
    position: relative;
    z-index: 20;
    overflow: visible;
    background-color: #ffffff;
}
.steps_contents{
    position: absolute;
    width: 88%;
    /* background-color: aqua; */
    margin-left: 10vw;
    margin-top: 50px;
    overflow: hidden;
    z-index: 20;
}
.steps_sentence {
    width: 100%;
    height: 30%;
    /* background-color: blueviolet; */
    margin-top: 70px;
    z-index: 11;
    line-height: 1.5;
    font-size: 16px;
}
.steps_circle {
    width: 545px;
    height: 545px;
    border-radius: 50%;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 15;
    margin-top: -100px;
    margin-left: -100px;
}
.step_circle_back {
        width: 545px;
    height: 545px;
    position: absolute;
    background-color: #ffffff;
    z-index: 12;
    margin-top: -100px;
    margin-left: -100px;
}
.white-color {
    color: #ffffff;
}
/* ここまでsteps */

/* ここからevents */
.events {
    width: 100vw;
    height: 70vh;
    position: relative;
    z-index: 20;
    overflow: visible;
    /* background-color: blue; */
    background-color: #ffffff;
}
.event_box {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 175px;
    padding-left: 100px;
}
.events_contents1 {
    height: 180px;
    width: 70%;
    border-bottom: #000 solid 1px;
    border-top: #000 solid 1px;
    margin: 0 auto;
}
.events_contents2 {
    height: 180px;
    width: 70%;
    margin: 0 auto;
}
.events_contents3 {
    height: 180px;
    width: 70%;
    border-bottom: #000 solid 1px;
    border-top: #000 solid 1px;
    margin: 0 auto;
}
.events-category {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.events-step {
    font-size: 20px;
    width: 100px;
}
.events-number {
    font-size: 48px;
    width: 100px;
}
.events_title {
    font-size: 36px;
    width: 25vw;
}
.triangle-right{
    border-style: solid;
    border-width: 18px 0 18px 20px;
    border-color: transparent transparent transparent #000;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 20vw;
}
/* ここまでevents */

/* ここからfaq */
.faqver {
    padding-top: 15vh;
    background-color: #ffffff;
}
.faq {
    display: flex;
    height: 130vh;
    /* margin-top: -30vh; */
}
.faq-left {
    background-color: #ffffff;
    width: 30vw;
    min-height: 100vh;
    z-index: -11;
}
.faq-left-sentence {
background-color: #ffffff;
  width: 29vw;  
  height: 29vw;
  border-right: #000 solid 1px; /* 右側に線を引く */
  margin-top: 150px;
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
  top: 10px;
  position: fixed;
    z-index: -10;
}

.faq-right {
    /* background-color: red; */
    width: 70vw;
}
.blank  {
    width: 100vw;
    height: 20vh;
    z-index: 20;
    background-color: #ffffff;
}
.faq2 {
    display: flex;
    height: 130vh;
    margin-top: 0;
}
.faq-left2 {
    /* background-color: greenyellow; */
    width: 30vw;
    min-height: 100vh;
}
/* .faq-left-sentence2 {
background-color: #ffffff;
  width: 29vw;  
  height: 29vw;
  border-right: #000 solid 1px; 
  margin-top: 150px;
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
  top: 10px;
  z-index: 10;
} */

.faq-right2 {
    /* background-color: cornflowerblue; */
    width: 70vw;
}
.events-button {
    width: 753px;
    height: 165px;
    background-color: aqua;
}
/* ここまでfaq */
/* ここからfooter  */
footer {
    background-color: #ffffff;
}